<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  
  <%= f.fields_for :phone_numbers do |builder| %>
    <%= render "phone_number_fields", :f => builder %>
  <% end %>
  
  <%= link_to_add_fields "Add Another Phone Number", f, :phone_numbers %>
  
  <div class="field">
    <%= f.label :registration_fee %><br />
    <%= f.text_field :registration_fee %>
  </div>
  <div class="field">
    <%= radio_button :student, :fee_status, 1 %> PAID
    <%= radio_button :student, :fee_status, 0, :checked => true %> DUE
  </div>
  
  <%= f.fields_for :enrollments do |builder| %>
    <%= render "enrollment_fields", :f => builder %>
  <% end %>
  
  <%= link_to_add_fields "Add Enrollment", f, :enrollments %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
