<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Address:</b>
  <%= @student.address %>
</p>

<p>
  <b>Phone Number(s):</b>
  <ul>
    <% @student.phone_numbers.each do |phone_number| %>
      <li><%= phone_number_output(phone_number) %></li>
    <% end %>
  </ul>
</p>

<h3>Enrollments</h3>
<table>
  <tr>
    <th>Course</th>
    <th>Session</th>
    <th>Teacher</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @student.enrollments.each do |enrollment| %>
    <tr>
      <td><%= enrollment.course.name %></td>
      <td><%= session_output(enrollment.course.session) %></td>
      <td><%= enrollment.course.teacher.name %></td>
      <td><%= link_to 'Show', enrollment %></td>
      <td><%= link_to 'Edit', edit_enrollment_path(enrollment) %></td>
      <td><%= link_to 'Destroy', enrollment, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Enrollment', new_enrollment_path(:student => @student) %> |
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
