<%= semantic_form_for [:admin, current_admin_user], url: find_teacher_admin_teachers_path, method: :get, html: { id: 'find_teacher_form' } do |f| %>
  <%= f.label :id, 'Teacher:', style: 'font-weight:bold' %>
  <div class="clear"></div>
  <%= f.select :id, Teacher.get_all_with_id, { include_blank: true }, { id: 'teacher_id', class: 'chosen-select-modal', style: 'width:400px' } %>
  
  <%= f.actions do %>
    <%= f.button 'Find Teacher' %>
  <% end %>
<% end %>