<%= semantic_form_for [:admin, current_admin_user], url: find_student_admin_students_path, method: :get, html: { id: 'find_student_form' } do |f| %>
  <%= f.label :id, 'Student:', style: 'font-weight:bold' %>
  <div class="clear"></div>
  <%= f.select :id, Student.get_all_with_id, { include_blank: true }, { id: 'student_id', class: 'chosen-select-modal', style: 'width:400px' } %>
  
  <%= f.buttons do %>
    <%= f.commit_button 'Find Student' %>
  <% end %>
<% end %>