<%= semantic_form_for [:admin, current_admin_user], url: find_course_admin_courses_path, method: :get, html: { id: 'find_course_form' } do |f| %>
  <%= f.label :id, 'Course:', style: 'font-weight:bold' %>
  <div class="clear"></div>
  <%= f.select :id, Course.get_active_with_id, { include_blank: true }, { id: 'course_id', class: 'chosen-select-modal', style: 'width:400px' } %>
  
  <%= f.actions do %>
    <%= f.button 'Find Course' %>
  <% end %>
<% end %>