<h1>Welcome To Criterion Academy</h1>

<ul>
  <li><%= link_to "Students", :students %></li>
  <li><%= link_to "Teachers", :teachers %></li>
  <li><%= link_to "Courses", :courses %></li>
  <li><%= link_to "Sessions", :sessions %></li>
  <li><%= link_to "Enrollments", :enrollments %></li>
  <li><%= link_to "Payments", :payments %></li>
</ul>
