<%= semantic_form_for [:admin, Payment.new(:payment_date => Time.current.to_date, :status => Payment::PAID)], :url => paid_cumulative_admin_payments_path do |f| %>
  <%= f.inputs do %>
    <%= f.input :payment_method, :as => :radio, :collection => Payment.payment_methods(true), :required => true %>
    <%= f.input :payment_date, :as => :string, :required =>  true, :input_html => { :class => 'datepicker' } %>
    <%= f.input :status, :as => :hidden %>
  <% end %>
  
  <%= f.actions do %>
    <%= f.button 'Pay' %>
    <li class='cancel'><%= link_to 'Cancel', request.env['HTTP_REFERER'] || admin_payments_path %></li>
  <% end %>
<% end %>