<%= semantic_form_for [:admin, @admin_user], url: update_password_admin_admin_user_path(@admin_user) do |f| %>
  <%= f.inputs do %>
    <%= f.input :current_password, required: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label: 'Update Password' %>
    <li class="cancel"><%= link_to 'Cancel', request.env['HTTP_REFERER'] || admin_dashboard_path %></li>
  <% end %>
<% end %>