<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @enrollment.student.name %>
</p>

<p>
  <b>Course:</b>
  <%= @enrollment.course.name %>
</p>

<p>
  <b>Teacher:</b>
  <%= @enrollment.course.teacher.name %>
</p>

<p>
  <b>Session:</b>
  <%= session_output(@enrollment.course.session) %>
</p>

<h3>Payments</h3>
<table>
  <tr>
    <th>Period</th>
    <th>Amount</th>
    <th>Status</th>
    <th>Paid On</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @enrollment.payments.each do |payment| %>
    <tr>
      <td><%= payment_period_output(payment) %></td>
      <td><%= payment.amount %></td>
      <td><%= payment_status_output(payment) %></td>
      <td><%= payment_date_output(payment) %></td>
      <td><%= link_to 'Show', payment %></td>
      <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
      <td><%= link_to 'Destroy', payment, confirm: 'Are you sure?', method: :delete %></td>
      <% unless payment.paid? %>
        <td><%= link_to 'Make Payment', paid_payment_path(payment), :disabled => true %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
