<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @teacher.name %>
</p>

<p>
  <b>Share:</b>
  <%= @teacher.share %>
</p>

<p>
  <b>Phone Number(s):</b>
  <ul>
    <% @teacher.phone_numbers.each do |phone_number| %>
      <li><%= phone_number_output(phone_number) %></li>
    <% end %>
  </ul>
</p>

<h3>Courses</h3>
<table>
  <tr>
    <th>Course</th>
    <th>Session</th>
    <th>Enrollments</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @teacher.courses.each do |course| %>
    <tr>
      <td><%= course.name %></td>
      <td><%= session_output(course.session) %></td>
      <td><%= course.enrollments.count %></td>
      <td><%= link_to 'Show', course %></td>
      <td><%= link_to 'Edit', edit_course_path(course) %></td>
      <td><%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete %></td>
      <td><%#= link_To 'View Payments' %></td> 
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
