<p id="notice"><%= notice %></p>

<p>
  <b>Payable:</b>
  <%= @payment.payable_id %>
</p>

<p>
  <b>Payable type:</b>
  <%= @payment.payable_type %>
</p>

<p>
  <b>Period:</b>
  <%= @payment.period %>
</p>

<p>
  <b>Amount:</b>
  <%= @payment.amount %>
</p>

<p>
  <b>Status:</b>
  <%= @payment.status %>
</p>

<p>
  <b>Payment type:</b>
  <%= @payment.payment_type %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
