<h1>Listing courses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Session</th>
    <th>Teacher</th>
    <th>Enrollments</th>
    <th>Monthly Fee</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.name %></td>
    <td><%= session_output(course.session) %></td>
    <td><%= course.teacher.name %></td>
    <td><%= course.enrollments.count %></td>
    <td><%= course.monthly_fee %></td>
    <td><%= course_status_output(course) %></td>
    <td><%= link_to 'Show', course %></td>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_course_path %>
