<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Session:</b>
  <%= session_output(@course.session) %>
</p>

<p>
  <b>Teacher:</b>
  <%= @course.teacher.name %>
</p>

<p>
  <b>Monthly Fee:</b>
  <%= @course.monthly_fee %>
</p>

<p>
  <b>Status:</b>
  <%= course_status_output(@course) %>
</p>

<p>
  <b>Start Date:</b>
  <%= @course.start_date ? @course.start_date.strftime('%d %B, %Y') : 'N/A' %>
</p>

<p>
  <b>End Date:</b>
  <%= @course.end_date ? @course.end_date.strftime('%d %B, %Y') : 'N/A' %>
</p>

<h3>Enrollments</h3>
<table>
  <tr>
    <th>Student</th>
    <th>Phone number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @course.enrollments.each do |enrollment| %>
    <tr>
      <td><%= enrollment.student.name %></td>
      <td><%= enrollment.student.phone_numbers.first.number rescue nil %></td>
      <td><%= link_to 'Show', enrollment %></td>
      <td><%= link_to 'Edit', edit_enrollment_path(enrollment) %></td>
      <td><%= link_to 'Destroy', enrollment, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Start Now', start_course_path(@course) %> |
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
